*.axv
*.pyc
*.pickle
*.pkl
*.csv
*.mat
*.key
*.egg-info/

__pycache__/
.DS_Store
.vscode/
.ipynb_checkpoints/
venv/
logs/
ycstore.tar.gz

wandb/
runs/
fig/
ycstore/vary reward sigmoid.ipynb

privateconfig
.env
.claude_session_logs.md